:root {
    --nav-width: 255px;
    --nav-collapse-width: 80px;
    --header-height: 75px;
    --nav-bg-color: #3a86ff;
    --active-color: #006DCC;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: GothamRounded-Medium;
    /* font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}


/* Global Style */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--header-height);
    background-color: #f3f3f3;
    padding-left: calc(var(--nav-width) + 1rem);
    transition: padding-left 0.3s ease-in-out;
    display: none;
}

header #nav-toggler {
    font-size: 1.5rem;
    box-shadow: 0 0 1px #343434;
    background-color: #fff;
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
}


/* Side Menu Styles */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* background-color: var(--nav-bg-color); */
    background-color: #FFFFFF;
    width: var(--nav-width);
    transition: width 0.2s ease-in-out;
    box-shadow: 0 0 2px #009DF0;
    overflow-y: auto;
}

nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--header-height);
}

nav .logo span {
    margin-left: 1rem;
}

.nav__item-link,
.logo,
.sign-out {
    font-size: 1.25rem;
    display: block;
    padding: 1rem;
    color: black;
    white-space: nowrap;
}

.nav__item-link span,
.logo span,
.sign-out span {
    margin-left: 0.5rem;
}

.nav__item-link+ul a {
    display: block;
    padding: 1rem;
    background-color: #f3f3f3;
    white-space: nowrap;
}


/* JS Classes */

.collapse {
    width: var(--nav-collapse-width);
}

.collapse i {
    margin-left: 0.5rem;
}

.collapse span {
    display: none;
}

.collapse .nav__item-link+ul a {
    font-size: 0.85rem;
}

.collapse-header {
    padding-left: calc(var(--nav-collapse-width) + 1rem);
}

.active {
    position: relative;
    color: var(--active-color);
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #F7F9FB;
}

.active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 3px;
    margin: auto 0;
    background-color: var(--active-color);
}

.d-none {
    display: none;
}

.nav__item-link+ul a.active-sub-link {
    background-color: #ddd;
}

@media screen and (max-width: 768px) {
    header {
        padding-left: 1rem;
    }
    nav {
        width: 0px;
        overflow: hidden;
    }
    .nav__item-link span,
    .logo span,
    .sign-out span {
        display: none;
    }
}


/*  main content css start */

aside {
    padding: 20px;
    border-radius: 12px;
}

.blue {
    background-color: white;
    /* background-image: linear-gradient(#355ed7 0%, #2245ad 70%); */
    border: 1px solid #4DBBF5;
    margin-left: 15%;
    border-radius: 10px;
}

.magenta {
    background-color: #b8246b;
    background-image: linear-gradient(#da4089 0%, #b8246b 70%);
}


/* .green { */


/* border: 1px solid #4DBBF5;
    border-radius: 10px; */


/* background-color: #0fa03f;
    background-image: linear-gradient(#14d855 0%, #0fa03f 70%); */


/* } */


/* h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h1,
h2,
h3 {
    margin-top: 0px;
} */

@media (min-width: 56.25em) {
    .flex-container {
        display: flex;
        margin-top: 9vh;
        height: 40vh;
    }
}

.main-content {
    flex: 1;
}

.sidebar_content {
    flex: 1 0 441px;
}


/*  main content css end */


/*  side bar code secton start   */

.tabs {
    position: absolute;
    top: 40%;
    left: 73%;
    transform: translate(-49%, -50%);
    width: 950px;
    height: 384px;
    background: #f5f5f5;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 5px 10px 5px #ccc;
}

.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.tabs .tab-header>div {
    width: calc(100% / 4);
    text-align: center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}

.tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
}

.tabs .tab-header>div.active_1 {
    color: #00acee;
}

.tabs .tab-indicator {
    position: relative;
    width: calc(100%/4);
    height: 5px;
    background: #00acee;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    position: relative;
    height: calc(100% - 60px);
    padding: 10px 5px;
}

.tabs .tab-body>div {
    position: absolute;
    top: -200%;
    opacity: 0;
    margin-top: 5px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.tabs .tab-body>div.active_1 {
    top: 0px;
    opacity: 1;
    transform: scale(1);
    margin-top: 0px;
}


/*  side bar code secton end   */


/*  example css start */

.ex_rambla {
    font-size: 24px;
    margin-left: 291px;
    margin-top: 12px;
    position: absolute;
    display: flex;
}


/* example end css */


/*  main content css end */

.ramb_sidemenu {
    position: relative;
    margin-left: 256px;
    border: 1px solid #F4F6F9;
    background-color: #F4F6F9;
}

.ram_sidemenu_text {
    height: 109px;
    background-color: #F4F6F9;
    width: 83vw;
    margin-left: calc((-40vw + 48%) - 12px);
    position: relative;
    margin-top: -29px;
}

.btn_rambla {
    font-size: 35px;
    font-family: GothamRounded-Book;
    padding-left: 18px;
    padding-top: 33px;
    /* color: #949494; */
}

.nav__item-link,
.logo,
.sign-out {
    font-size: 1.25rem;
    display: block;
    padding: 1rem;
    /* color: black; */
    white-space: nowrap;
    margin-top: 28px;
}


/*  logo ramboll  */

.logo_ramb {
    width: 187px;
    height: 87px;
    margin-top: 18px;
    margin-left: -8px;
}


/* logo ramboll end  */

.category {
    padding-top: 60px;
    padding-bottom: 11px;
}


/*   principle text css  start */

.type-color_secondry {
    font-family: GothamRounded-Book;
    color: #605f60;
    margin-left: 17.5%;
}

.title-heading_ramb {
    color: #1DAA56;
    font-weight: 600;
    font-size: 30px;
    font-family: 'GothamRounded-Book';
    margin-left: 17.5%;
}

.title-description_ramb {
    font-family: GothamRounded-Book;
    padding-top: 20px;
    font-size: 19px;
    width: 57%;
    font-weight: 100;
    color: #605f60;
    margin-bottom: 25px;
    margin-left: 17.5%;
}

.principle_img {
    margin-left: 17.5%;
}

.principle_img_type {
    max-width: 100%;
    width: 50%;
}

.principle_text {
    font-family: GothamRounded-Book;
    color: #605f60;
}

.row {
    display: flex;
    margin-left: 18%;
}


/* Create two equal columns that sits next to each other */

.column {
    /* flex: 3%; */
    padding: 5px;
    height: 239px;
    margin-left: -5%;
    width: 32%;
    padding-left: 1%;
}


/* Should be removed. Only for demonstration */

.green_img {
    width: 38%;
    margin-left: 0%;
}

.green_text {
    font-family: GothamRounded-Medium;
}

.green_text {
    font-family: GothamRounded-Medium;
}

.green_text_1 {
    font-family: GothamRounded-Book;
}


/* principle text css end   */